<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322365051201-uvsara0n3eiie0kjkvff9vj3itl3arnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322365051201-uvsara0n3eiie0kjkvff9vj3itl3arnd</string>
	<key>API_KEY</key>
	<string>AIzaSyCxz2LiXRj7vMubA2vBqybt48InS1RAX7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>322365051201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abrego.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-7670e</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-7670e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322365051201:ios:610d75795b2ba7194551c0</string>
</dict>
</plist>